/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}
/* Bobdy styling */
body {
    background: linear-gradient(to bottom left, #33ccff 6%, #ff99cc 100%) ;
    color: whitesmoke;
    display: flex;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    justify-content: center;
    min-height: 100hv;
}

p {
    margin: 5px;
}
/* Heading styling */
h1{
    margin: 10px 0 20px;
    text-align: center;
}
/* Checkbox sytling */
input[type="checkbox"] {
    margin-block-end: 0;
}
/* Inside square background color + styling */
.container {
    background: linear-gradient(to bottom left, #33ccff 6%, #ff99cc 100%);
    box-shadow: 0px 2px 10px rgba (255, 255, 255, .2 );
    padding: 20px;
    width: 400px;
    max-width: 100%;
}
/* Generated password box styling */
.result-container {
    background-color: #33ccff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace sans-serif; 
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    color: white;
}

.btn {
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #ff99cc;
}


.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;

    }
}